<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h4>Cửa hàng nội thất Decor - Thiết kế nội thất - Thi công nội thất</h4>
        <ul>
          <li><i class="fa fa-location-arrow" aria-hidden="true"></i>&nbsp;Showroom: Số 6, Ngõ Liên Việt, Nguyễn Lương Bằng, Đống Đa, Hà Nội</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;Hotline: 097.993.6223</li>
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;Mail: uncledecor@gmail.com</li>
          <li><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;Fanpage: https://www.facebook.com/UncleDecor</li>
        </ul>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <h4>Connect to us</h4>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FUncleDecor%2F&tabs&width=340&height=154&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=135721893786319" width="340" height="154" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
</div>
<footer class="header">
    <div class="container">
      <div class="row">
      <div class="col-lg-10 col-sm-8">
          Copyright © 2018 Uncle Decor
        </div>
        <div class="col-lg-2 col-sm-4">
            Design by <a href="#">Hot Dog</a>      
        </div>
      </div>
    </div>
</footer>